@import '../bourbon/bourbon';
@import 'nav';

@mixin border-deets($frame, $color,$width ){
	-webkit-border-radius: $frame;
	-webkit-border: $width solid $color;
	-moz-border-radius: $frame;
	-moz-border-radius: $width, solid $color;
	-ms-border-radius: $frame;
	-ms-border: $width solid $color;
	-o-border-radius:$frame;
	-o-border: $width solid $color;
	border-radius: $frame;
	border: $width solid $color;

}
.sam{ @include border-deets(13px, black, 3px); 
	margin: 30px;
	background-color: pink;
	background-opacity: 0.2;
}
#float{
	float: right;
}

#box {
	margin: 30px;
	background-color: #ffffff;
	border: 10px solid black;
	background-color: pink;
	background-opacity: 0.4;
	
}

$color: black;

$pants: url("../images/owl.jpeg");

body{
	background: $pants no-repeat;
	-webkit-background-size:  cover;
	-moz-background-size:  cover;
	-o-background-size:  cover;
	background-size:  cover;
	color: $color;
	font-family: zapf chancery, cursive;
	

}



.notice{
	@extend .sam;
	
}

